body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
    text-align: center;
}

#add-member-form {
    margin-bottom: 20px;
}

#add-member-form input[type="text"] {
    width: 70%;
    padding: 10px;
    margin-right: 10px;
}

#add-member-form button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

#members-list {
    margin-bottom: 20px;
}

#add-expense-form, #additional-costs {
    display: flex;
    margin-bottom: 20px;
}

#add-expense-form select, #add-expense-form input[type="number"], #additional-costs input[type="number"] {
    width: 30%;
    padding: 10px;
    margin-right: 10px;
}

#extra-costs-section {
    margin-bottom: 20px;
}

#expense-distribution {
    font-weight: bold;
}

#expense-distribution-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#expense-distribution-table th,
#expense-distribution-table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ccc;
}

#expense-distribution-table th {
    background-color: #007bff;
    color: #fff;
}

#expense-distribution-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}